<h3> Terima Kasih </h3> 

<h3> Kembali Login klik link dibawah</h3>

{# {% if ('ROLE_SELLER') %}
    <li><a href="{{ path('fos_user_security_logout') }}">Logout</a></li>
{% else %}
    <li><a href="{{ path('fos_user_security_login') }}">Login Seller</a></li>
{% endif %}

{% if ('ROLE_CUSTOMER') %}
    <li><a href="{{ path('fos_user_security_logout') }}">Logout</a></li>
{% else %}
    <li><a href="{{ path('fos_user_security_login') }}">Login Customer</a></li>
{% endif %}

{% if is_granted('ROLE_CUSTOMER') %}
    <li><a href="{{ path('product_display') }}">Halaman Product</a></li>
{% endif %}

{% if is_granted('ROLE_SELLER') %}
    <li><a href="{{ path('category_display') }}">Halaman Category</a></li>
{% endif %} #}

<h3><li><a href="{{ path('fos_user_security_login') }}">Login</a></li></h3>

{% block body %} 
   <h3>Belum punya akun? daftar sekarang klik link di bawah ini</h3>
   <h3>
    <li><a href="{{ path('fos_user_registration_register') }}">Daftar Akun</a></li>
   </h3>
{% endblock %}