{% extends 'base.html.twig' %}
{% block stylesheets %}
  <style>
     .table { border-collapse: collapse; }
     .table th, td {
       border-bottom: 1px solid #ddd;
       width: 250px;
       text-allign: left;
       allign: left;
     }
  </style>
{% endblock %}
{% block body %}
  <h2>Ini Cart</h2>
  <div>
  <h4><td><a href = "{{ path('product_display')}}">Continue to shopping</a></td></h4>
  <table class = "table">
    <tr>
        <th>Id Cart</th>
        <th>username</th>
        <th>total_price</th>
        <th>quantity</th>
    </tr>
    {% for x in data %}
    <tr>
        <td>{{ x.Id }}</td>
        <td>{{ x.User }}</td>
        <td>{{ x.TotalPrice }}</td> 
        <td>{{ x.Quantity }}</td>
        {# <td><a href = "{{ path('cart_update', { 'id' : x.Id }) }}">Edit</a></td> #}
        <td><a href = "{{ path('cart_checkout', { 'id' : x.Id }) }}">Lihat Detail</a>
        <td><a href = "{{ path('cart_delete', { 'id' : x.Id }) }}">Delete</a></td>
        {# <td><a href = "{{ path('product_detail', { 'id' : x.Id }) }}">Product Detail</a><td> #}
        {# <td><a href = "{{ path('cart_checkout', { 'id': x.id }) }}">Checkout</a></td> #}
        {# <td><a href = "{{ path('add_to_order')}}">CheckOut kosongan masih redirect ke index</a></td> #}
    </tr>
    {% endfor %}
  </table>
  {# <h4><a href = "{{ path('cart_checkout') }}">Lihat CartProduct</a></h4> #}
{% endblock %}