{% extends 'base.html.twig' %} 
{% block stylesheets %} 
   <style> 
      .table { border-collapse: collapse; } 
      .table th, td { 
         border-bottom: 1px solid #ddd; 
         width: 250px; 
         text-align: left; 
         align: left; 
      } 
   </style> 
{% endblock %}  
{% block body %} 
   <h2>Ini Category Display</h2>
   <h3>{% if ('ROLE_SELLER') %}
      <li><a href="{{ path('fos_user_security_logout') }}">Logout</a></li>
   {% endif %}</h3>
   <div>
      {# <a href = "{{ path('category_new') }}">Add Category</a> #}
      <h3>{% if is_granted ('ROLE_SELLER') %}
      <a href = "{{ path('product_display') }}">Buka halaman Product</a>
      {% endif %}</h3>  
   <table class = "table">  
      <tr>  
         <th>Name</th>  
         {# <th>Product</th>    #}
      </tr>  
      {% for x in data %} 
      <tr>  
         <td>{{ x.Name }}</td>   
         {# <td>{{ x.Product }}</td> #}
         <td><a href = "{{ path('category_update', { 'id' : x.Id }) }}">Edit</a></td>
         <td><a href = "{{ path('category_delete', { 'id' : x.Id }) }}">Delete</a></td>  
      </tr>  
      {% endfor %} 
   </table> 
{% endblock %}         