{% spaceless %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}{% endblock %}</title>
    {% stylesheets '@AppBundle/Resources/public/vendor/bootstrap/dist/css/bootstrap-theme.min.css'
                   '@AppBundle/Resources/public/vendor/bootstrap/dist/css/bootstrap.min.css' %}
        <link rel="stylesheet" type="text/css" media="all" href="{{ asset_url }}" />
    {% endstylesheets %}
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet" media="all" type="text/css" />
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ url('product_index') }}">Shopping Cart</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="{{ url('product_create') }}">Create product</a></li>
                <li><a href="{{ url('shopping_basket') }}">Shopping cart</a></li>
            </ul>
        </div>
    </div>
</nav>

{% block content %}{% endblock %}

{% javascripts '@AppBundle/Resources/public/vendor/jquery/dist/jquery.min.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}
</body>
</html>
{% endspaceless %}