{% extends 'base.html.twig' %} 
{% block stylesheets %} 
   <style> 
      .table { border-collapse: collapse; } 
      .table th, td { 
         border-bottom: 1px solid #ddd; 
         width: 250px; 
         text-align: left; 
         align: left; 
      } 
   </style>
{% endblock %}  
{% block body %} 
   <h2>Ini Product Display</h2>
   <h3>{% if ('ROLE_SELLER') %}
      <a href="{{ path('fos_user_security_logout') }}">Logout</a>
   {% else %}
   {% endif %}</h3>
   <div>
      <div>{% if is_granted('ROLE_SELLER') %}
      <a href = "{{ path('product_new') }}">Add Product</a>
      &nbsp;
      <a href = "{{ path('category_display') }}">Buka halaman Category</a>
      &nbsp;
      <a href = "{{ path('order_status') }}">Halaman Status Order</a>
      {% endif %}</div>

      <div>{% if is_granted('ROLE_CUSTOMER') %}  
      <a href = "{{ path('cart_display') }}">Halaman Cart</a>
      &nbsp;
      <a href = "{{ path('address_list') }}">Halaman Customer</a>
      &nbsp;
      <a href = "{{ path('transaction_list') }}">Halaman Transaksi</a>
      {% endif %}</div>
      
   <table class = "table">  
      <tr>  
         <th>Name</th>  
         <th>Description</th>  
         <th>Price</th>
         <th>Quantity</th>
         <th>Quantity Hold</th>
         <th>Category</th>  
      </tr>  
      {% for x in data %} 
      <tr>  
         <td>{{ x.Name }}</td>   
         <td>{{ x.Description }}</td>
         <td>{{ x.Price }}</td>
         <td>{{ x.Quantity }}</td>
         <td>{{ x.quantityhold }}</td>
         <td>{{ x.Category }}</td>
         <td>{% if is_granted ('ROLE_SELLER') %}
         <a href = "{{ path('product_update', { 'id' : x.Id }) }}">Edit</a></td>
         <td><a href = "{{ path('product_delete', { 'id' : x.Id }) }}">Delete</a></td>
         {% endif %}</td>

         <td>{% if is_granted ('ROLE_CUSTOMER') %}
         <td><a href = "{{ path('product_detail', { 'id' : x.Id}) }}">Add to Cart</a></td>
         {% endif %}</td>
         {# <td><a href = "{{ path('add_to_cart') }}">Add to Cart</a></td>   #}
      </tr>  
      {% endfor %}
   </table> 
{% endblock %}         