{% extends 'base.html.twig' %}
{% block stylesheets %}
    <style>
        .table { border-collapse: collapse; }
        .table th, td {
            border-bottom: 1px solid #ddd;
            width: 250px;
            text-align: left;
            align: left;
        }
    </style>
{% endblock %}
{% block body %}
    <h2>Ini Checkout (CartProduct)</h2>
    <div>
    <h4><td><a href = "{{ path('product_display')}}">Continue to shopping</a></td></h4>
    <table class = "table">
        <tr>
            <th>Id</th>
            <th>Nama Product</th>
            <th>Cart Id</th>
            <th>Total Price</th>
            <th>Quantity</th>
        </tr>
        {% for x in data %}
        <tr>
            <td>{{ x.Id }}</td>
            <td>{{ x.Product }}</td>
            <td>{{ x.Cart }}</td>
            <td>{{ x.TotalPrice }}</td>
            <td>{{ x.Quantity }}</td>
            {# <td>{{ x.JumlahQuantity }}</td> #}
            <td><a href = "{{ path('checkout_delete', { 'id' : x.Id }) }}">Delete</a>
        </tr>
        {% endfor %}
    </table>
    <a href = "{{ path('order') }}">Lanjut ke pembayaran</a>
{% endblock %}