{% extends 'base.html.twig' %}
{% block stylesheets %}
    <style>
        .table { border-collapse: collapse: }
        .table th, td {
            border-bottom: 1px solid #ddd;
            width: 250px;
            text-align: left:
            align: left;
        }
    </style>
{% endblock %}
{% block body %}
    <h2>Transaction Detail (SalesOrderProduct)</h2>
    <div>
    <h4><td><a href = "{{ path('product_display') }}">Kembali ke halaman product</a></td></h4>
    <table class = "table">
        <tr>
            <th>Id</th>
            <th>Sales Order Id</th>
            <th>Nama Product</th>
            <th>Quantity</th>
            <th>Total Price</th>
        </tr>
        {% for x in data %}
        <tr>
            <td>{{ x.Id }}</td>
            <td>{{ x.salesorder }}</td>
            <td>{{ x.Product }}</td>
            <td>{{ x.Quantity }}</td>
            <td>{{ x.TotalPrice }}</td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}