{% extends 'base.html.twig' %}
{% block stylesheets %}
    <style>
        .table { border-collapse: collapse: }
        .table th, td {
            border-bottom: 1px solid #ddd;
            width: 250px;
            text-allign: left;
            allign: left;
        }
    </style>
{% endblock %}
{% block body %}
    <h2>Transaction List</h2>
    <div>
    <table class = "table">
        <tr>
            <th>Id</th>
            <th>User</th>
            <th>Total Amount</th>
            <th>Status Order</th>
        </tr>
        {% for x in data %}
        <tr>
            <td>{{ x.Id }}</td>
            <td>{{ x.User }}</td>
            <td>{{ x.totalAmount }}</td>
            <td>{{ x.status }}</td>
            <td>{% if is_granted ('ROLE_CUSTOMER') %}
            <td><a href = "{{ path('transaction_detail', { 'id' : x.Id }) }}">Lihat detail</a></td>
            {% endif %}</td>
        </tr>
        {% endfor %}
    </table>
    {# <a href = "{{ path('transaction_detail') }}">Lihat detail transaksi</a> #}
    <a href = "{{ path('product_display') }}">Kembali ke halaman product</a>
{% endblock %}