{% extends 'base.html.twig' %}
{% block stylesheets %}
    <style>
        .table { border-collapse: collapse: }
        .table th, td {
            border-bottom: 1px solid #ddd;
            width: 250px;
            text-allign: left;
            allign: left;
        }
    </style>
{% endblock %}
{% block body %}
    <h2>Transaction List (ROLE_SELLER)</h2>
    <div>
        <a href = "{{ path('product_display') }}">Kembali ke halaman product</a>
    <table class = "table">
        <tr>
            <th>Id</th>
            <th>User</th>
            <th>Total Amount</th>
            <th>Status Order</th>
        </tr>
        {% for x in data %}
        <tr>
            <td>{{ x.Id }}</td>
            <td>{{ x.User }}</td>
            <td>{{ x.totalAmount }}</td>
            {# {% if x.status is empty %}
            <td><a href="{{ path('order_status_approved', { 'id' : x.Id }) }}">Approved</a></td>
            <td><a href="{{ path('order_status_reject', { 'id' : x.Id }) }}">Rejected</a></td>
            {% else %}
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            {% endif %} #}

            {% if x.status == 'Waiting Payment' %}
            <td><a href="{{ path('order_status_approved', { 'id' : x.Id }) }}">Approved</a></td>
            <td><a href="{{ path('order_status_reject', { 'id' : x.Id }) }}">Rejected</a></td>
            {% endif %}
        </tr>
        {% endfor %}
    </table>
{% endblock %}