{% extends 'base.html.twig' %}
{% block stylesheets %}
  <style>
     .table { border-collapse: collapse; }
     .table th, td {
       border-bottom: 1px solid #ddd;
       width: 250px;
       text-allign: left;
       allign: left;
     }
  </style>
{% endblock %}
{% block body %}
  <h2>Ini Cart Product</h2>
  <div>
  <h4><td><a href = "{{ path('product_display')}}">Continue to shopping</a></td></h4>
  <table class = "table">
    <tr>
        <th>Id Cart Product</th>
        {# <th>Product</th> #}
        <th>Quantity Product</th>
    </tr>
    {% for x in data %}
    <tr>
        <td>{{ x.Id }}</td>
        {# <td>{{ x.Product }}</td> #}
        <td>{{ x.Quantity }}</td>
        {# <td><a href = "{{ path('cart_update', { 'id' : x.Id }) }}">Edit</a></td> #}
        <td><a href = "{{ path('cart_delete', { 'id' : x.Id }) }}">Delete</a></td>
        {# <td><a href = "{{ path('product_detail', { 'id' : x.Id }) }}">Product Detail</a><td> #}
        {# <td><a href = "{{ path('cart_checkout', { 'id': x.id }) }}">Checkout</a></td> #}
        {# <td><a href = "{{ path('add_to_order')}}">CheckOut kosongan masih redirect ke index</a></td> #}
    </tr>
    {% endfor %}
  </table>
  <a href = "{{ path('cart_checkout') }}">Checkout</a>
{% endblock %}