{% extends 'base.html.twig' %} 
{% block stylesheets %} 
   <style> 
      .table { border-collapse: collapse; } 
      .table th, td { 
         border-bottom: 1px solid #ddd; 
         width: 250px; 
         text-align: left; 
         align: left; 
      } 
   </style> 
{% endblock %}  
{% block body %} 
   <h2>Customer</h2>
   <h3>{% if ('ROLE_CUSTOMER') %}
      <li><a href="{{ path('fos_user_security_logout') }}">Logout</a></li>
   {% endif %}</h3>
   <div>
      <a href = "{{ path('new_address') }}">Add Address</a>
      &nbsp;
      <a href = "{{ path('product_display') }}">Lihat product</a>  
   <table class = "table">  
      <tr>  
         <th>Name</th>  
         <th>Address</th>  
      </tr>  
      {% for x in data %} 
      <tr>  
         <td>{{ x.Name }}</td>   
         <td>{{ x.Address }}</td>
         <td><a href = "{{ path('address_update', { 'id' : x.Id }) }}">Edit Address</a></td>
         <td><a href = "{{ path('customer_delete', { 'id' : x.Id }) }}">Delete Address</a></td>  
      </tr>  
      {% endfor %} 
   </table> 
{% endblock %}         